<html>
<head>
        <title></title>
</head>
<body>
    <form action="/update/{{ product.id }}" method="post">
        {% csrf_token %}
        <label for="name">Name: <input type="text" name="name" id="name"
        value="{{ product.name }}" placeholder="{{ product.name }}" />
        </label>
        <label for="description">Description: <input type="text" name="description"
        value="{{ product.description }}" placeholder="{{ product.description }}" />
        </label>
        <input type="submit" Value="Update" />
    </form>
</body>
</html>